:root {
  --white: #fff;
  --black: #000;

  /* Primary colors*/
  --primary-1: #ff6060;

  /* Neutral colors */
  --neutral-1: #f6f6f6;
}

/* HEADER & HOMEPAGE */
body,
html {
  max-width: 1366px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper {
  flex: 1;
}
p,
h1 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
  font-weight: 500;
}
a {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-1);
}
ul {
  list-style: none;
}
.header-wrapper {
  display: flex;
  margin: 30px 0;
}
.navbar ul {
  display: flex;
  column-gap: 30px;
  padding: 0;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  padding-left: 20px;
}
.active-link {
  text-decoration: underline;
}
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-img {
  height: 233px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(0.7);
}
.background-text {
  z-index: 1;
  margin-top: -146px;
  margin-bottom: 146px;
  color: var(--white);
}
.announcements {
  background-color: var(--neutral-1);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
  padding: 60px;
}
.announcements::after {
  content: "";
  flex: 0 0 30%;
  max-width: 374px;
}
.cover-wrapper {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 370px;
}
.cover-img {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 15px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  filter: brightness(0.8);
}
.cover-title {
  z-index: 1;
  margin-top: -68px;
  margin-bottom: 68px;
  padding-left: 15px;
  width: 80%;
  color: var(--white);
}

/* FOOTER */
.footer {
  background-color: var(--black);
  padding: 40px 0 30px 0;
  margin-top: 50px;
  text-align: center;
}
.footer-text {
  color: var(--white);
}
.logo_white {
  text-align: center;
  padding-bottom: 20px;
}

/* ABOUT PAGE */
.about {
  width: 85%;
  margin: auto;
}
.dropbtn {
  width: 100%;
  height: 52px;
  background-color: var(--primary-1);
  color: var(--white);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  z-index: 1;
  position: relative;
}
.text {
  background-color: var(--neutral-1);
  color: var(--primary-1);
  font-size: 18px;
  padding: 35px 15px 30px;
  line-height: 28px;
  margin-top: -10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}

/* DETAILS PAGE */
.gallery-img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 20px;
}
.chevrons-wrapper {
  display: flex;
  justify-content: space-between;
}
.fa-chevron-left {
  margin-left: 20px;
}
.fa-chevron-right {
  margin-right: 20px;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 70px;
  color: var(--white);
  margin-top: -245px;
}
.main-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.title {
  color: var(--primary-1);
  padding-bottom: 8px;
  font-size: 38px;
}
.location {
  color: var(--primary-1);
  padding-bottom: 23px;
}
.tags ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 10px;
  padding: 0;
  margin: 0;
}
.tags ul li {
  background-color: var(--primary-1);
  border-radius: 10px;
  color: var(--white);
  padding: 4px 50px;
  font-size: 16px;
}
.dropmenu-wrapper {
  display: flex;
  justify-content: space-between;
}
.dropmenu__details {
  width: 47%;
}
.fa-chevron-up {
  font-size: 28px;
  display: none;
}
.fa-chevron-down {
  font-size: 28px;
}
.host {
  display: flex;
  margin-bottom: -8px;
  align-items: center;
}
.host-name {
  color: var(--primary-1);
  width: 105px;
  display: inline-block;
  text-align: end;
  line-height: 26px;
}
.host-img {
  border-radius: 100px;
  width: 60px;
  margin-left: 15px;
}
.rating {
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
  font-size: 24px;
}
.fa-star {
  color: var(--neutral-1);
}
.star-active {
  color: var(--primary-1);
}

/* ERROR PAGE */
.main__error {
  text-align: center;
  padding: 70px;
}
.error-main,
.error-message {
  color: var(--primary-1);
}
.error-main {
  font-size: 200px;
  margin: auto;
  font-weight: 900;
}
.error-message {
  font-weight: 500;
}
.homelink {
  text-decoration: underline;
  font-size: 20px;
}
.homelink-wrapper {
  padding-top: 170px;
}

@media screen and (max-width: 414px) {
  /* HEADER & HOMEPAGE - mobile*/
  body {
    width: 100%;
    font-size: 18px;
  }
  .wrapper {
    width: 90%;
    margin: auto;
  }
  h1 {
    font-size: 26px;
  }
  .navbar ul {
    column-gap: unset;
    text-transform: uppercase;
  }
  .navbar ul li a {
    font-size: 12px;
  }
  .header-wrapper {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .logo {
    width: 115%;
  }
  .background {
    align-items: unset;
  }
  .background-img {
    height: 120px;
  }
  .background-text {
    margin-top: -95px;
    margin-bottom: 55px;
    padding-left: 15px;
  }
  #break-point::before {
    content: "\a";
    white-space: pre;
  }
  .announcements {
    background-color: unset;
    padding: 0;
    row-gap: 24px;
  }
  .cover-wrapper {
    width: 100%;
    height: 280px;
  }
  .cover-img {
    width: 100%;
    height: 280px;
  }

  /* FOOTER - mobile */
  .footer-text {
    font-size: 13px;
  }

  /* ABOUT PAGE - mobile */
  .about {
    width: 100%;
  }
  .dropbtn {
    margin-top: 23px;
  }

  /* DETAILS PAGE - mobile */
  .gallery-img {
    height: 255px;
    border-radius: 10px;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 28px;
    margin-top: -145px;
  }
  .fa-chevron-left {
    margin-left: 8px;
  }
  .fa-chevron-right {
    margin-right: 8px;
  }
  .main-info {
    flex-direction: column;
    margin-top: 8px;
  }
  .title {
    font-size: 26px;
  }
  .tags ul li {
    font-size: 13px;
    padding: 4px 28px;
    border-radius: 5px;
  }
  .second-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 15px;
  }
  .rating {
    font-size: 17px;
    min-width: 33%;
    align-items: center;
    padding: 0;
  }
  .dropmenu-wrapper {
    display: block;
  }
  .dropmenu__details {
    width: auto;
  }
  .dropbtn {
    height: 38px;
    font-size: 18px;
  }
  .fa-chevron-up {
    font-size: 20px;
    display: none;
  }
  .fa-chevron-down {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
    line-height: 25px;
    display: none;
  }

  /* ERROR PAGE - mobile */
  .main__error {
    padding: 120px 20px 50px 20px;
  }
  .error-main {
    font-size: 95px;
  }
  .error-message {
    font-size: 18px;
  }
  .break-point::before {
    content: "\a";
    white-space: pre;
  }
  .homelink {
    font-size: 14px;
  }
}
